<form action="/event/create" method="post">
	
	<label for="event_title">Event</label>
	<input type="text" name="event[title]" id="event_title">
	
	<label for="event_desc">Description</label>
	<textarea name="event[description]" id="event_title"></textarea>
	
	<input type="submit" value="Submit Event">
	
</form>
