<form action="/event/create" method="post">
	
	<div class="clearfix">
		<label for="event_title">Event</label>
		<div class="input">
			<input type="text" name="event[title]" id="event_title">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_venue">Venue</label>
		<div class="input">
			<input type="text" name="event[venue]" id="event_venue">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_date">Date</label>
		<div class="input">
			<input type="datetime" name="event[date]" id="event_date">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_desc">Description</label>
		<div class="input">
			<textarea name="event[description]" id="event_desc"></textarea>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_category">Category</label>
		<div class="input">
			<select name="event[category]" id="event_category">
				<option value="concert">Concert</option>
				<option value="festival">Festival</option>
				<option value="live_music">Live Music</option>
				<option value="night_club">Night Club</option>
				<option value="pub">Pub</option>
			</select>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_url">Event web page</label>
		<div class="input">
			<input type="url" name="event[url]" id="event_url">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="event_address">Location</label>
		<div class="input">
			<input type="text" name="address" id="event_address">
		</div>
	</div>
	
	<div class="input">
		<input type="submit" value="Submit Event" class="btn primary">
	</div>
	
</form>
