<% if @events.count != 0 %>
	<ul>
	<% @events.each do | event | %>
		<li><a href="/event/<%= event.id %>" title="<%= event.title %>"><%= event.title %></a></li>
	<% end %>
	</ul>
<% end %>

<% content_for :sidebar do %>
    <h3>Search for events</h3>
<% end %>