<h2>Recently added events</h2>

<% if @events.count != 0 %>
	<ul>
	<% @events.each do | event | %>
		<li><a href="/event/<%= event.id %>"><%= event.title %></a></li>
	<% end %>
	</ul>
<% else %>
	<p>There are no recent events</p>
<% end %>

<% content_for :sidebar do %>
    <h3>Site Sponsors</h3>
    <ul class="media-grid">
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
    </ul>
<% end %>