<div class="wrapper rounded6">
		

<h1><div style="text-align: center; ">
	Whats The Plan Weekly Additions<br>
<br>
	In Your Area</div>
</h1>
<div class="container rounded6">
<div id="subscribeFormWelcome">Enter your details here to subscribe to our mailing list.<br>
<br>
You will receive one email every sunday with details to upcoming events near you.
</div>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<form action="http://heroku.us2.list-manage1.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="a900fe28fd94d1539bba51e4e">
<input type="hidden" name="id" value="933e7570ff">
<div id="mergeTable" class="mergeTable">
<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
<label for="MERGE0"><strong>Email Address</strong> <span class="asterisk">*</span></label>
<div class="field-group">
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value=""> 
</div>
</div>
<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
<label for="MERGE1">First Name</label>
<div class="field-group">
    <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
</div>
</div>
<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
<label for="MERGE2">Last Name</label>
<div class="field-group">
    <input type="text" name="MERGE2" id="MERGE2" size="25" value=""> 
</div>
</div>
<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-3">
<label for="MERGE3"><strong>Location</strong> <span class="asterisk">*</span></label>
<div class="field-group">
    <input type="text" name="MERGE3" id="MERGE3" size="25" value="" placeholder="Enter a location here...">
     
</div>
</div>
</div>
<br>
<input type="submit" class="button" name="submit" value="Subscribe to list">
</form>