<form action="/promoter/create" method="post">
	
	<div class="clearfix">
		<label for="promoter_name">Name:</label>
		<div class="input">
			<input type="text" name="promoter[name]" id="promoter_name">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="promoter_address">Address</label>
		<div class="input">
			<input type="text" name="promoter[address]" id="promoter_address">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="promoter_email">Email address</label>
		<div class="input">
			<input type="text" name="promoter[email]" id="promoter_email">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="promoter_password">Password</label>
		<div class="input">
			<input type="password" name="promoter[password]" id="promoter_password">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="promoter_password_confirm">Confirm Password</label>
		<div class="input">
			<input type="password" name="promoter[password_confirmation]" id="promoter_password_confirm">
		</div>
	</div>
	
	<div class="input">
		<input type="submit" value="Create Account" class="btn primary">
	</div>

</form>
