<h3>Your recent events</h3>


<% content_for :sidebar do %>
    <h3>Your Actions</h3>
    <ul class="unstyled">
        <li>
            <a href="/event/create" title="Create new event">Create new Event</a>
        </li>
        <li>
            <a href="/promoter/edit" title="Edit your details">Edit your details</a>
        </li>
        <li>
            <a href="/logout" title="Log out" class="btn">Logout</a>
        </li>
    </ul>
<% end %>