<div class="jacket" style="width: 690px; position: relative;">
        <div class="short no-r r-shadow">
          <h1><a href="/promoter/register-step2/gold">Gold</a></h1>
          <h2>£149/month</h2>
          <h3>Gold Membership</h3>

          <ul class="highlight">
           <li>
            	<strong>Unlimited events</strong> p/month  
              </li>
            <li>
              <strong>20 photo's</strong> p/event            
            </li>    
          </ul>
          
           </div>
        <div class="tall">
          <h1><a href="/promoter/register-step2/silver">Silver</a></h1>
          <h2>Only £99/month</h2>
          <h3>Silver Membership</h3>

          <ul class="highlight" style="margin-top: 12px;">
            <li>
            	<strong>20 events</strong> p/month  
              </li>
            <li>
              <strong>10 photo's</strong> p/event            
            </li>            
          </ul>
            </div>
        <div class="short no-l l-shadow">
           <h1><a href="/promoter/register-step2/bronze">Bronze</a></h1>
           <h2>£49/month</h2>
          <script type="text/javascript">
              variation = getVariationFor("Plus prices") //this only needs to be done once
              if(variation !=  "Original Page") {
                 $$("div.short.no-l.l-shadow h2")[0].innerHTML = $$("div.short.no-l.l-shadow h2")[0].innerHTML.replace("49", variation)
            }
          </script>
          <h3>Bronze Membership</h3>
          <ul class="highlight">
            <li><strong>10 events</strong> p/month</li>
            <li><strong>3 photo's</strong> p/eveet</li>            
          </ul>
          </div>
      </div>